
USE [Electro]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 4/4/2022 12:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[MaAdmin] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](200) NOT NULL,
	[TaiKhoan] [varchar](200) NULL,
	[matkhau] [varchar](200) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[Email] [varchar](200) NULL,
	[DienThoai] [varchar](10) NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAdmin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 4/4/2022 12:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[NguoiBinhLuan] [nvarchar](200) NULL,
	[Email] [varchar](200) NULL,
	[NoiDung] [nvarchar](4000) NOT NULL,
	[MaSP] [int] NULL,
	[DanhGia] [int] NULL,
	[NgayBinhLuan] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonDatHang]    Script Date: 4/4/2022 12:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonDatHang](
	[MaDDH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[TenSP] [nvarchar](200) NULL,
	[SoLuong] [int] NULL,
	[DonGiaBan] [money] NULL,
	[DaXoa] [bit] NULL,
 CONSTRAINT [PK_CTDDH] PRIMARY KEY CLUSTERED 
(
	[MaDDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietKhuyenMai]    Script Date: 4/4/2022 12:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietKhuyenMai](
	[MaKM] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[GiamGia] [int] NULL,
 CONSTRAINT [PK_CTKM] PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 4/4/2022 12:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaPN] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[TenSP] [nvarchar](200) NULL,
	[DonGiaNhap] [money] NOT NULL,
	[SoLuongNhap] [int] NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 4/4/2022 12:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[MaDDH] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [date] NULL,
	[MaKH] [int] NULL,
	[Hoten] [nvarchar](400) NULL,
	[DiaChiGiaoHang] [nvarchar](400) NULL,
	[DienThoai] [varchar](10) NULL,
	[Email] [varchar](200) NULL,
	[PhuongThucThanhToan] [nvarchar](200) NULL,
	[TongTien] [money] NULL,
	[TinhTrang] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailKhuyenMai]    Script Date: 4/4/2022 12:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailKhuyenMai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](2000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 4/4/2022 12:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaKH] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_CTGH] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 4/4/2022 12:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](200) NOT NULL,
	[TaiKhoan] [varchar](200) NOT NULL,
	[MatKhau] [varchar](200) NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [varchar](200) NULL,
	[DienThoai] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 4/4/2022 12:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[TenChuongTrinh] [nvarchar](4000) NOT NULL,
	[NoiDung] [nvarchar](4000) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 4/4/2022 12:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](200) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[Email] [varchar](200) NULL,
	[DienThoai] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaSanXuat]    Script Date: 4/4/2022 12:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaSanXuat](
	[MaNSX] [int] IDENTITY(1,1) NOT NULL,
	[TenNSX] [nvarchar](200) NULL,
	[ThongTin] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 4/4/2022 12:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [int] NULL,
	[NgayNhap] [date] NULL,
	[NguoiNhap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 4/4/2022 12:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [int] NULL,
	[MaNSX] [int] NULL,
	[TenSP] [nvarchar](200) NOT NULL,
	[DonGia] [money] NULL,
	[SoLuongTon] [int] NULL,
	[NgayCapNhat] [date] NULL,
	[CauHinh] [nvarchar](4000) NULL,
	[MoTa] [nvarchar](4000) NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[LuotXem] [int] NULL,
	[TrungBinhDanhGia] [float] NULL,
	[DaXoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([MaAdmin], [HoTen], [TaiKhoan], [matkhau], [DiaChi], [Email], [DienThoai], [NgaySinh]) VALUES (1, N'Hoàng Quang Thái', N'admin', N'1234', N'33 Lê Hồng Phong', N'hoangquangthai57@gmail.com', N'0967823093', CAST(N'1993-06-04' AS Date))
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[BinhLuan] ON 

INSERT [dbo].[BinhLuan] ([MaBinhLuan], [NguoiBinhLuan], [Email], [NoiDung], [MaSP], [DanhGia], [NgayBinhLuan]) VALUES (1, N'Khá Bảnh', N'khabanh@gmail.com', N'Good', 2, 4, CAST(N'2021-07-28' AS Date))
INSERT [dbo].[BinhLuan] ([MaBinhLuan], [NguoiBinhLuan], [Email], [NoiDung], [MaSP], [DanhGia], [NgayBinhLuan]) VALUES (2, N'Quang Trung', N'qtrung@gmail.com', N'Rất tốt', 2, 5, CAST(N'2021-07-28' AS Date))
INSERT [dbo].[BinhLuan] ([MaBinhLuan], [NguoiBinhLuan], [Email], [NoiDung], [MaSP], [DanhGia], [NgayBinhLuan]) VALUES (3, N'Khá Bảnh', N'khabanh@gmail.com', N'Good', 5, 5, CAST(N'2021-07-28' AS Date))
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF
GO
INSERT [dbo].[ChiTietDonDatHang] ([MaDDH], [MaSP], [TenSP], [SoLuong], [DonGiaBan], [DaXoa]) VALUES (1, 1, N'ASUS ROG STRIX SCAR G15 G533QM - HF089T', 1, 34000000.0000, NULL)
INSERT [dbo].[ChiTietDonDatHang] ([MaDDH], [MaSP], [TenSP], [SoLuong], [DonGiaBan], [DaXoa]) VALUES (1, 2, N'LAPTOP ASUS Siêu Vip Pro', 2, 28000000.0000, NULL)
INSERT [dbo].[ChiTietDonDatHang] ([MaDDH], [MaSP], [TenSP], [SoLuong], [DonGiaBan], [DaXoa]) VALUES (3, 1, N'ASUS ROG STRIX SCAR G15 G533QM - HF089T', 1, 40000000.0000, NULL)
GO
SET IDENTITY_INSERT [dbo].[DonDatHang] ON 

INSERT [dbo].[DonDatHang] ([MaDDH], [NgayLap], [MaKH], [Hoten], [DiaChiGiaoHang], [DienThoai], [Email], [PhuongThucThanhToan], [TongTien], [TinhTrang]) VALUES (1, CAST(N'2021-07-28' AS Date), 1, N'Hoàng Quang Thái', N'06 Trần Văn Ơn', N'0967823093', N'hqthai@gmail.com', N'Chuyển khoản', 90000000.0000, N'Hủy')
INSERT [dbo].[DonDatHang] ([MaDDH], [NgayLap], [MaKH], [Hoten], [DiaChiGiaoHang], [DienThoai], [Email], [PhuongThucThanhToan], [TongTien], [TinhTrang]) VALUES (3, CAST(N'2021-07-31' AS Date), 1, N'Hoàng Quang Thái', N'06 Trần Văn Ơn', N'0967823093', N'hqthai@gmail.com', N'Chuyển khoản', 80000000.0000, N'Đang giao')
INSERT [dbo].[DonDatHang] ([MaDDH], [NgayLap], [MaKH], [Hoten], [DiaChiGiaoHang], [DienThoai], [Email], [PhuongThucThanhToan], [TongTien], [TinhTrang]) VALUES (4, CAST(N'2021-07-31' AS Date), 1, N'Hoàng Quang Thái', N'12 Lê Hồng Phong', N'0967823093', N'hqthai@gmail.com', N'Thanh toán khi nhận hàng', 578000000.0000, N'Hủy')
SET IDENTITY_INSERT [dbo].[DonDatHang] OFF
GO
SET IDENTITY_INSERT [dbo].[EmailKhuyenMai] ON 

INSERT [dbo].[EmailKhuyenMai] ([ID], [Email]) VALUES (1, N'1923801030059@student.tdmu.edu.vn')
INSERT [dbo].[EmailKhuyenMai] ([ID], [Email]) VALUES (2, N'1923801030145@student.tdmu.edu.vn')
INSERT [dbo].[EmailKhuyenMai] ([ID], [Email]) VALUES (6, N'hoangquangthai57@gmail.com')
SET IDENTITY_INSERT [dbo].[EmailKhuyenMai] OFF
GO
INSERT [dbo].[GioHang] ([MaKH], [MaSP], [SoLuong]) VALUES (1, 6, 2)
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [TaiKhoan], [MatKhau], [DiaChi], [Email], [DienThoai]) VALUES (1, N'Hoàng Quang Thái', N'hqthai', N'1234', N'12 Lê Hồng Phong', N'hoangquangthai57@gmail.com', N'0967823093')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [TaiKhoan], [MatKhau], [DiaChi], [Email], [DienThoai]) VALUES (2, N'Hoàng Lê Vương', N'hlvuong', N'1234', N'15 Tuệ Tĩnh', N'vuongle@tdmu.edu.vn', N'0968541235')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [Email], [DienThoai]) VALUES (1, N'Sài Gòn KTS', N'154 Lê Hồng Phong', N'rvasic0@smugmug.com', N'236908511')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [Email], [DienThoai]) VALUES (2, N'Việt Sơn Group', N'240 Lê Lai, Q1, HCM', N'ccobley1@addtoany.com', N'2861951836')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [Email], [DienThoai]) VALUES (3, N'LG Đế Minh', N'06 Trần Văn Ơn', N'abriscow2@360.cn', N'4852066753')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaSanXuat] ON 

INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX], [ThongTin]) VALUES (1, N'Asus', N'Thương hiệu laptop nổi tiếng đến từ châu Âu')
INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX], [ThongTin]) VALUES (2, N'Toshiba', N'Thương hiệu laptop nổi tiếng đến từ châu Âu')
INSERT [dbo].[NhaSanXuat] ([MaNSX], [TenNSX], [ThongTin]) VALUES (3, N'Dell', N'Thương hiệu laptop cao cấp')
SET IDENTITY_INSERT [dbo].[NhaSanXuat] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [MaNCC], [MaNSX], [TenSP], [DonGia], [SoLuongTon], [NgayCapNhat], [CauHinh], [MoTa], [HinhAnh], [LuotXem], [TrungBinhDanhGia], [DaXoa]) VALUES (1, 2, 1, N'ASUS ROG STRIX SCAR G15 G533QM - HF089T', 40000000.0000, 20, CAST(N'2021-08-05' AS Date), N'R9-5900HX  16GB DDR4  SSD 1TB PCIe  VGA RTX 3060 6GB  15.6 FHD IPS 300Hz  Win10', N'R9-5900HX 16GB DDR4 SSD 1TB PCIe VGA RTX 3060 6GB 15.6 FHD IPS 300Hz Win10/n', N'asus02.png', 87, 5, 1)
INSERT [dbo].[SanPham] ([MaSP], [MaNCC], [MaNSX], [TenSP], [DonGia], [SoLuongTon], [NgayCapNhat], [CauHinh], [MoTa], [HinhAnh], [LuotXem], [TrungBinhDanhGia], [DaXoa]) VALUES (2, 3, 1, N'LAPTOP ASUS Siêu Vip Pro', 40000000.0000, 13, CAST(N'2021-08-05' AS Date), N'R9-5900HX  16GB DDR4  SSD 1TB PCIe  VGA RTX 3060 6GB  15.6 FHD IPS 300Hz  Win10', N'R9-5900HX 16GB DDR4 SSD 1TB PCIe VGA RTX 3060 6GB 15.6 FHD IPS 300Hz Win10/n', N'lg01.png', 113, 4, 1)
INSERT [dbo].[SanPham] ([MaSP], [MaNCC], [MaNSX], [TenSP], [DonGia], [SoLuongTon], [NgayCapNhat], [CauHinh], [MoTa], [HinhAnh], [LuotXem], [TrungBinhDanhGia], [DaXoa]) VALUES (3, 3, 1, N'LAPTOP ASUS ROG STRIX G15 G513QE - HN010T (Gray)', 40000000.0000, 0, CAST(N'2021-08-05' AS Date), N'R9-5900HX  16GB DDR4  SSD 1TB PCIe  VGA RTX 3060 6GB  15.6 FHD IPS 300Hz  Win10', N'R9-5900HX 16GB DDR4 SSD 1TB PCIe VGA RTX 3060 6GB 15.6 FHD IPS 300Hz Win10/n', N'asus02.png', 54, 0, 0)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
ALTER TABLE [dbo].[BinhLuan] ADD  DEFAULT (getdate()) FOR [NgayBinhLuan]
GO
ALTER TABLE [dbo].[DonDatHang] ADD  CONSTRAINT [DF_DonDatHang_TinhTrang]  DEFAULT (N'Đang chờ xử lý') FOR [TinhTrang]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ('false') FOR [DaXoa]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD FOREIGN KEY([MaDDH])
REFERENCES [dbo].[DonDatHang] ([MaDDH])
GO
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietKhuyenMai]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[ChiTietKhuyenMai]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([NguoiNhap])
REFERENCES [dbo].[Admin] ([MaAdmin])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaNSX])
REFERENCES [dbo].[NhaSanXuat] ([MaNSX])
GO
ALTER TABLE [dbo].[ChiTietDonDatHang]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [CHK_SL] CHECK  (([SoLuongNhap]>(0)))
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [CHK_SL]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD CHECK  (([SoLuongTon]>=(0)))
GO
