
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<style>
    body {
        background: #f5f5f6;
        margin-top: 20px;
    }
    /*Faq*/

    .faq-search-wrap {
        padding: 50px 0 60px;
    }

        .faq-search-wrap .form-group .form-control,
        .faq-search-wrap .form-group .dd-handle {
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }

        .faq-search-wrap .form-group .input-group-append {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 10;
            pointer-events: none;
        }

            .faq-search-wrap .form-group .input-group-append .input-group-text {
                background: transparent;
                border: none;
            }

                .faq-search-wrap .form-group .input-group-append .input-group-text .feather-icon > svg {
                    height: 18px;
                    width: 18px;
                }

    .bg-teal-light-3 {
        background-color: #7fcdc1 !important;
    }

    .hk-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -10px;
        margin-left: -10px;
    }

    @@media (min-width: 576px) {
        .mt-sm-60 {
            margin-top: 60px !important;
        }
    }

    .mt-30 {
        margin-top: 30px !important;
    }

    .list-group-item.active {
        background-color: #00acf0;
        border-color: #00acf0;
    }

    .accordion .card .card-header.activestate {
        border-width: 1px;
    }

    .accordion .card .card-header {
        padding: 0;
        border-width: 0;
    }

    .card.card-lg .card-header, .card.card-lg .card-footer {
        padding: .9rem 1.5rem;
    }

    .accordion > .card .card-header {
        margin-bottom: -1px;
    }

    .card .card-header {
        background: transparent;
        border: none;
    }

    .accordion.accordion-type-2 .card .card-header > a.collapsed {
        color: #324148;
    }

    .accordion .card:first-of-type .card-header:first-child > a {
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
    }

    .accordion.accordion-type-2 .card .card-header > a {
        background: transparent;
        color: #00acf0;
        padding-left: 50px;
    }

    .accordion .card .card-header > a.collapsed {
        color: #324148;
        background: transparent;
    }

    .accordion .card .card-header > a {
        background: #00acf0;
        color: #fff;
        font-weight: 500;
        padding: .75rem 1.25rem;
        display: block;
        width: 100%;
        text-align: left;
        position: relative;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    a {
        text-decoration: none;
        //color: #00acf0;
        -webkit-transition: color 0.2s ease;
        -moz-transition: color 0.2s ease;
        transition: color 0.2s ease;
    }


    .badge.badge-pill {
        border-radius: 50px;
    }

    .badge.badge-light {
        background: #eaecec;
        color: #324148;
    }

    .badge {
        font-weight: 500;
        border-radius: 4px;
        padding: 5px 7px;
        font-size: 72%;
        letter-spacing: 0.3px;
        vertical-align: middle;
        display: inline-block;
        text-align: center;
        text-transform: capitalize;
    }

    .ml-15 {
        margin-left: 15px !important;
    }

    .accordion.accordion-type-2 .card .card-header > a.collapsed:after {
        content: "\f158";
    }

    .accordion.accordion-type-2 .card .card-header > a::after {
        display: inline-block;
        font: normal normal normal 23px/1 'Ionicons';
        speak: none;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: auto;
        position: absolute;
        content: "\f176";
        font-size: 21px;
        top: 15px;
        left: 20px;
    }

    .mr-15 {
        margin-right: 15px !important;
    }
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.2.0/css/ionicons.min.css" integrity="sha256-F3Xeb7IIFr1QsWD113kV2JXaEbjhsfpgrKkwZFGIA4E=" crossorigin="anonymous" />

<div class="container-fluid">

    <!-- Row -->
    <div class="row">
        <div class="col-xl-12 pa-0">
            <div class="container mt-sm-60 mt-30">
                <div class="hk-row">
                    <div class="col-xl-8">
                        <div class="card card-lg">
                            <h2 class="card-header border-bottom-0">
                                Câu hỏi thường gặp
                            </h2>
                            <div class="accordion accordion-type-2 accordion-flush" id="accordion_2">
                                <div class="card">
                                    <div style="font-size:21px" class="card-header d-flex justify-content-between activestate">
                                        <a role="button" data-toggle="collapse" href="#collapse_1i" aria-expanded="true">Làm sao để mua hàng ?</a>
                                    </div>
                                    <div id="collapse_1i" class="collapse" data-parent="#accordion_2" role="tabpanel">
                                        <div style="font-size:18px" class="card-body pa-15">Để mua hàng, quý khách chọn san phẩm cầm mua. Nhấn thêm vào giỏ hàng. Rồi tiến hành thanh toán. Tại bước thanh toán, quý khách vui lòng nhập đúng và đủ các thông tin.</div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div style="font-size:21px" class="card-header d-flex justify-content-between">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_2i" aria-expanded="false">Chính sách bảo hành sản phẩm như thế nào ?</a>
                                    </div>
                                    <div id="collapse_2i" class="collapse" data-parent="#accordion_2">
                                        <div style="font-size:18px" class="card-body pa-15">Mỗi sản phẩm sẽ có chính sách bảo hành khách nhau tùy theo chính sách của hãng và nhà sản xuất. Khách hàng có thể mua thêm năm bảo hành hoặc bỏa hiểm riêng tại tại cửa hàng.</div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div style="font-size:21px" class="card-header d-flex justify-content-between">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_2i" aria-expanded="false">Cửa hàng có hỗ trờ cài phần mềm không ?</a>
                                    </div>
                                    <div id="collapse_2i" class="collapse" data-parent="#accordion_2">
                                        <div style="font-size:18px" class="card-body pa-15">Cửa hàng sẽ hỗ trợ khách hàng cài đặt các phần mềm theo yêu cầu.</div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div style="font-size:21px" class="card-header d-flex justify-content-between">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_2i" aria-expanded="false">Chính sách bảo hành sản phẩm như thế nào ?</a>
                                    </div>
                                    <div id="collapse_2i" class="collapse" data-parent="#accordion_2">
                                        <div style="font-size:18px" class="card-body pa-15">Mỗi sản phẩm sẽ có chính sách bảo hành khách nhau tùy theo chính sách của hãng và nhà sản xuất. Khách hàng có thể mua thêm năm bảo hành hoặc bỏa hiểm riêng tại tại cửa hàng.</div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div style="font-size:21px" class="card-header d-flex justify-content-between">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_2i" aria-expanded="false">LIên hệ trung tâm bảo hành ở đ ?</a>
                                    </div>
                                    <div id="collapse_2i" class="collapse" data-parent="#accordion_2">
                                        <div style="font-size:18px" class="card-body pa-15">Mỗi sản phẩm sẽ có chính sách bảo hành khách nhau tùy theo chính sách của hãng và nhà sản xuất. Khách hàng có thể mua thêm năm bảo hành hoặc bỏa hiểm riêng tại tại cửa hàng.</div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div style="font-size:21px" class="card-header d-flex justify-content-between">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_2i" aria-expanded="false">Cửa hàng có thu mua máy cũ không ??</a>
                                    </div>
                                    <div id="collapse_2i" class="collapse" data-parent="#accordion_2">
                                        <div style="font-size:18px" class="card-body pa-15">Mỗi sản phẩm sẽ có chính sách bảo hành khách nhau tùy theo chính sách của hãng và nhà sản xuất. Khách hàng có thể mua thêm năm bảo hành hoặc bỏa hiểm riêng tại tại cửa hàng.</div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div style="font-size:21px" class="card-header d-flex justify-content-between">
                                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_2i" aria-expanded="false">Cửa hàng có hỗ trợ nâng cấp sản phẩm không ?</a>
                                    </div>
                                    <div id="collapse_2i" class="collapse" data-parent="#accordion_2">
                                        <div style="font-size:18px" class="card-body pa-15">Mỗi sản phẩm sẽ có chính sách bảo hành khách nhau tùy theo chính sách của hãng và nhà sản xuất. Khách hàng có thể mua thêm năm bảo hành hoặc bỏa hiểm riêng tại tại cửa hàng.</div>
                                    </div>
                                </div>

                                @*                                <div class="card">
            <div style="font-size:21px" class="card-header d-flex justify-content-between">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_3i" aria-expanded="false">Cửa hàng có hỗ trờ cài phần mềm không ?</a>
            </div>
            <div id="collapse_3i" class="collapse" data-parent="#accordion_2">
                <div style="font-size:18px" class="card-body pa-15"></div>Cửa hàng sẽ hỗ trợ khách hàng cài đặt các phần mềm theo yêu cầu.</div>
            </div>
        </div>

        <div class="card">
            <div style="font-size:21px" class="card-header d-flex justify-content-between">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_4i" aria-expanded="false">Cây xoài trong trường còn trái không ?</a>
            </div>
            <div id="collapse_4i" class="collapse" data-parent="#accordion_2">
                <div style="font-size:18px" class="card-body pa-15">Còn cái nịt. </div>
            </div>
        </div>
        <div class="card">
            <div style="font-size:21px" class="card-header d-flex justify-content-between">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_5i" aria-expanded="false">Limitation of liability of your products</a>
            </div>
            <div id="collapse_5i" class="collapse" data-parent="#accordion_2">
                <div style="font-size:18px" class="card-body pa-15">Cửa hàng có hỗ trợ nâng cấp sản phẩm không ?</div>
            </div>
        </div>
        <div class="card">
            <div style="font-size:21px" class="card-header d-flex justify-content-between">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse_6i" aria-expanded="false">Cửa hàng có thu mua máy cũ không ?</a>
            </div>
            <div id="collapse_6i" class="collapse" data-parent="#accordion_2">
                <div style="font-size:18px" class="card-body pa-15">While creating and having a Terms and Conditions is important, it’s far more important to understand how you can make the Terms and Conditions enforceable. You should always use clickwrap to get users to agree to your Terms and Conditions. Clickwrap is when you make your users take some action – typically clicking something – to show they’re agreeing. Here’s how Engine Yard uses the clickwrap agreement with the I agree check box:</div>
            </div>
        </div>*@
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>